<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/Login-Form-Clean.css">
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
<div class="text-danger login-clean">
    <form method="post">
        <h2 class="sr-only">Tinder | Login</h2>
        <div class="illustration"></div>
        <img src="img/Tinder_(app)-Logo.wine.png" style="width: 220px;text-align: center">
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit"
                    style="width: 100px;margin-left:75px;margin-bottom: 10px;">
                <a href="chinh" style=" text-decoration: none;color: white;">Login</a></button>
        </div>
        <a class="forgot" href="#">Forgot your email or password?</a></form>

</div>
<h2 style="margin-left:600px;margin-right:600px;color: red">LIST USER</h2>
<div style=" margin-left:600px;margin-right:600px;border: 2px solid #ccc;">
    {{#each users}}

        <div style="border: 2px solid #ccc">

            <div style="float: left"><img src="{{this.avatars}}"
                                          style="width: 100px;height: 100px ;margin: 5px 5px 5px 5px">
            </div>
            <div>
                <form action="update" method="post" enctype="multipart/form-data">
                    <input type="file" name="avatarsa"/>
                    <p>IDss<input class="form-control"  name="ids"  value="{{this._id}}"></p>
                    <p>Email<input class="form-control" type="email" name="emailsa" value="{{this.email}} "></p>
                    <p>Usernames<input class="form-control" type="text" name="usernamesa"
                                       value="{{this.username}}"></p>
                    <p>Password<input class="form-control" type="password" name="passwordsa"
                                      value=" {{this.pass}}"></p>
                    <a href="delete/{{this._id}}" style="margin-left: 20px" class="card-link">DELETE</a>
                    <button type="submit" id="submit" name="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    {{/each}}
</div>
<script src="js/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>